body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.tracker-form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

#expense-list {
    margin-top: 20px;
}

#total-expense {
    font-size: 1.2em;
    margin-top: 20px;
}
input[type="datetime-local"] {
    padding: 10px;
    margin: 5px;
    width: 220px;
}




.monthly-expense-section {
    margin-top: 20px;
}

#monthly-expense-list {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}


.monthly-detailed-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
}

#month-select {
    padding: 5px;
    margin-right: 10px;
}

#detailed-monthly-expense-list {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}




Description,Amount,Time
Books,500,2024-11-10
Snacks,200,2024-11-12
